@media screen and (max-width: 1199.98px) {
    .btn__controller {
        width: 100%;
    }

    .btn__controller-right {
        right: 40px;
        bottom: 30px;
    }

    /* header */
    .menu-top__container,
    .menu-bottom__container {
        padding: 0 20px;
    }

    .btn_menu {
        margin-left: 0px;
    }

    /* banner */
    .banner {
        max-width: 100%;
    }
    
    .inner{
        padding:0 30px;
    }

    .img-slide-1,
    .img-slide-2,
    .img-slide-3 {
        max-height: 530px;
    }

    .banner-container {
        padding-top: 40px;
        padding-right: 48px;
    }
    
    .banner-container-3 {
        padding-top: 80px;
        padding-right: 48px;
    }

    .img-icon-banner {
        left: 43.8%;
        top: 22%;
    }

    .bg-banner {
        max-width: 100%;
    }

    .bg-banner-2 {
        position: relative;
        top: -25px;
    }
    
    .slick-dots {
        bottom: 20px;
    }
    /* benefit */

    .benefit__wrapper {
        width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .benefit__content-wrapper {
        width: 48.4%;
    }

    .benefit__content-wrapper:nth-child(2n+1) {
        margin-right: 30px;
    }

    .benefit__content-img {
        margin-right: 20px;
    }
    /* procedure */

    .wrapper {
        width: 100%;
        padding: 0 30px;
    }
    .procedure__title {
        padding: 0 80px;
    }

    /* new */

    .new__item-personnel-content {
        padding: 40px 0;
    }

    .new__item-personnel-img {
        margin-top: 55px;
    }
    /* footer */

    .footer-container {
        padding-top: 80px;
    }

    .footer__top-item {
        margin: 0;
        padding: 0 20px;
    }
}

@media screen and (max-width: 991px) { 
    .hide__tablet {
        display: none;
    }

    .inner {
        width: 100%;
        padding: 0 30px;
    }

    .btn__controller {
        width: 100%;
    }

    .btn__controller-right {
        right: 40px;
    }

    /* header */

    .header {
        width: 100%;
    }

    .menu-top__container,
    .menu-bottom__container {
        padding: 0 30px;
    }

    .menu-bottom {
        display: none;
    }

    .menu-bottom-mobile{
        display: flex;
    }

    /* banner */

    .img-slide-1, 
    .img-slide-2, 
    .img-slide-3 {
        max-height: 530px;
    } 
    
    .banner-title {
        font-size: 3.2rem;
        line-height: 4.4rem;
    }

    .banner-container {
        padding-top: 40px;
        padding-right: 24px;
    }
    
    .banner-container-3 {
        padding-top: 80px;
        padding-right: 0;
    }

    .bg-banner {
        width: 100%;
    }

    .bg-banner-2 {
        top: 0;
    }

    .img-icon-banner {
        max-width: 53px;
        top: 15%;
        left: 44%;
    }

    /* benefit */

    
    .wrapper {
        width: 100%;
        padding: 0 30px;
    }

    .benefit__heading {
        font-size: 3.2rem;
    }

    .benefit__content-wrapper {
        width: 47.8%;
        flex-direction: column;
        height: auto;
        padding-top: 16px;
        margin-bottom: 30px;
    }

    .benefit__content-wrapper:nth-child(2n+1) {
        margin-right: 30px;
    }

    /* procedure */
    .procedure__title {
        font-size: 3.2rem;
        width: 100%;
        line-height: 3.4rem;
        padding: 0 102px;
    }

    .procedure__content-img {
        height: 204px;
    }

    .procedure-text,
    .procedure-description {
        font-size: 10px;
        line-height: 14px;
    }

    .animate-mui {
        width: 20px
    }

    .x2 p,
    .x4 p {
        padding: 0;
    }

    .procedure-text {
        top: -27px;
        right: -16px;
    }

    .mui-1 {
        top: -15px;
    }

    .mui-2,
    .mui-4,
    .mui-6 {
        top: 82px;
        right: -24px;
    }

    .mui-3 {
        top: -15px;
        right: -11px;
    }

    .mui-5 {
        top: -10px;
        right: -25px;
    }

    .mui-7 {
        top: -10px;
        right: -25px;
    }

    .img-content-0 {
        bottom: 40px;
    }

    .procedure__content-img-mobile {
        display: none !important;
    }

    /* new */

    .new__item {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .new__item-personnel-title {
        font-size: 3.2rem;
        line-height: 3.4rem;;
    }

    .new__item-personnel-img {
        margin-top: 96px;
    }


    /* contact */
    #contact {
        width: 100%;
        padding: 40px 30px 110px;
        background-position: 30px 100%;
    }

    .img-absolute {
        left: 72px;
    }

    .contact__content-img {
        width: 330px;
        height: 330px;
    }

    .contact__content-img img {
        left: 55px;
    }

    .contact__form  {
        margin-bottom: 40px;
    }
    /* footer */
    .footer__top {
        padding-bottom: 30px;
        top: -139px;
    }

    .footer-container {
        padding-top: 80px;
    }

    .footer__top-item {
        width: 50%;
        padding: 0;
        margin-right: 0;
    }

    .footer__top-item__tablet {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer__top-logo {
        width: 40%;
    }
}

@media screen and (max-width: 767.98px) {

    .hide-767 {
        display: none;
    }
    
    .btn__controller {
        width: 100%;
    }

    .btn__controller-right {
        right: 30px;
    }

    .controller-phone-des {
        display: none;
    }

    /* header */
    .header {
        width: 100%;
    }

    .menu-top__container,
    .menu-bottom__container {

        padding: 0 16px;
    }

    .menu-bottom__nav {
        display: none;
    }

    .menu-top__right {
        display: none;
    }

    /* banner */
    .img-slide-1, 
    .img-slide-2, 
    .img-slide-3 {
        max-height: 814px;
        height: 814px;
    } 

    .inner {
        width: 100%;
        padding: 0 16px;
    }

    .banner-title {
        font-size: 3.2rem;
        line-height: 4.4rem;
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .img-icon-banner {
        top: 32%;
        left: 46.6%;
    }

    .banner-container {
        padding-top: 0;
        padding-right: 0;
    }
    
    .banner-container-3 {
        padding-top: 40px;
        padding-right: 0;
    }

    .bg-banner {
        width: 100%;
        padding-top: 30px;
    }

    .banner-btn {
        margin: 20px auto 0;
    }

    /* benefit */
    .benefit__heading {
        font-size: 3.2rem;
        width: 100%;
        padding: 0 40px;
        margin-bottom: 130px;
    }

    .benefit__content-wrapper {
        width: 100%;
        margin-right: 0;
        padding-top: 26px;
        margin-bottom: 20px;
    }

    .benefit__content-wrapper:nth-child(2n+1) {
        margin-right: 0;
    }

    .benefit__content-item {
        width: 100%;
        padding: 0 16px;
    }

    .benefit__content-item-title {
        text-align: center;
        padding-top: 16px;
    }

    /* procedure */

    .wrapper {
        width: 100%;
        padding: 0 16px;
    }

    .procedure__title {
        font-size: 3.2rem;
        padding: 0 20px;
    }

    .procedure__content {
        padding: 0;
        height: auto;
        margin-top: 36px;
    }

    .procedure__content-img {
        display: none !important;
    }

    .content-img-mobile {
        width: 100%;
        display: flex !important;
    }

    .m3 {
        margin-top: 175px;
        margin-bottom: 60px;
    }

    .m1 {
        margin-top: 139px;
        margin-bottom: 40px;
    }

    .mui-1-m {
        position: absolute;
        top: -8px;
        right: -58px;
    }

    .mui-2-m {
        position: absolute;
        right: -64px;
        bottom: -37px;
    }

    .mui-5-m {
        position: absolute;
        top: 45px;
        left: -59px;
    }

    .mui-6-m {
        position: absolute;
        bottom: -38px;
        left: 41px;
    }

    /* new */

    .new {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .new__item {
        margin-bottom: 30px;
    }

    .new__item-content {
        text-align: center;
        margin-bottom: 30px;
    }

    .new__item-img-mobile {
        display: block;
    }

    .new-personnel {
        height: auto;
    }

    .new-personnel-img {
        height: 560px;
        display: flex;
    }

    .new-container {
        text-align: center;
    }

    .new__item-personnel-content {
        margin-bottom: 0;
    }

    .new__item-personnel-list {
        margin-bottom: 40px;
    }
    .new__item-personnel-img {
        margin-top: 0;
        padding: 0;
    }

    /* contact */
    #contact {
        width: 100%;
        padding: 0 16px;
        background-position: center 100%;
    }

    .contact__content {
        text-align: center;
        padding-bottom: 16px;
    }

    .contact__content .contact-container {
        text-align: left;
    }

    .contact__content-img{
        display: none;
    }

    .contact__send {
        display: none;
    }
    .contact__form {
        margin-bottom: 220px;
    }

    .img-absolute {
        left: 50%;
        transform: translateX(-50%);
    }

    /* footer */
    .footer__top {
        padding-bottom: 20px;
    }

    .footer-container {
        padding-top: 97px;
    }

    .footer__top-item {
        width: 100%;
    }

    .footer__top-logo {
        width: 60%;
    }
    
}

@media screen and (max-width: 575.98px) { 

    .hide-mobile {
        display: none !important;
    }

    .btn__controller {
        width: 100%;
        padding: 0 20px;
    }

    .btn__controller-right {
        right: 30px;
        bottom: 10px;
    }

    .host-circle {
        left:14px;
    }

    .host-circle-fill {
        left: 10px;
    }

    /* header */
    .menu-top__container {
        display: flex;
        justify-content: center;
    }

    .menu-top__right {
        display: none;
    }

    /* banner */

    .inner {
        width: 100%;
        padding: 0 16px;
    }

    .img-slide-1, 
    .img-slide-2, 
    .img-slide-3 {
        max-height: 720px;
        height: 720px;
    }

    .banner-container {
        min-height: 332px;
    }

    .img-icon-banner {
        max-width: 48px;
        top: 26%;
        left: 43%;
    }

    .slick-dots {
        bottom: 10px;
    }

    /* benefit */

    .benefit__heading {
        margin-bottom: 124px;
    }

    .benefit__content-wrapper {
        padding: 16px 0;
    }

    .benefit__content-wrapper:nth-child(2n+1) {
        margin-right: 0;
    }

    .benefit__content-wrapper:last-child {
        margin-bottom: 0;
    }

    /* procedure */

    .wrapper {
        padding: 0 16px;
    }

    .procedure__title {
        font-size: 3.2rem;
        width: 100%;
        margin-bottom: 0;
    }

    .procedure__des {
        display: none;
    }

    .procedure__content {
        padding: 0;
        width: 100%;
        height: auto;
        margin-top: 36px;
    }

    .procedure__content-img {
        display: none !important;
    }

    .content-img-mobile {
        display: flex !important;
    }

    .m3 {
        margin-top: 96px;
    }

    .m1 {
        margin-top: 89px;
    }

    .mui-1-m {
        top: -8px;
        right: -36px;
    }
    
    .mui-2-m {
        right: -45px;
        bottom: 25px;
    }

    .mui-5-m {
        top: 22px;
        left: -41px;
    }
    
    .mui-6-m {
        bottom: -38px;
        left: 26px;
    }

    /* new */
    .new {
        margin-top: 50px;
    }

    .new__item {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .new__item-content {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    .new__item-content-des {
        font-size: 1.2rem;
    }

    .new__item-img {
        width: 100%;
    }

    .new-personnel {
        height: auto;
    }
    .new-personnel-img {
        height: 300px;
    }
    
    .new__item-personnel-des {
        text-align: left;
    }

    .new__item-personnel-img {
        margin-top: 0;
    }
    /* contact */

    #contact {
        width: 100%;
        padding: 0 16px;
        background-position: bottom center;
        background-size: 320px;
    }

    .contact__content-phone span, 
    .contact__content-mail span {
        margin-left: 0px;
    }

    .contact__content-des {
        font-size: 1.2rem;
    }

    .contact__content-phone img,
    .contact__content-mail img {
        margin-right: 12px;
    }

    .contact__content-img-mobile {
        display: block;
    }

    .contact__send {
        display: none;
    }

    .btn__send {
        width: 100%;
    }

    /* footer */
    .footer__top {
        padding-bottom: 20px;
    }

    .footer-container {
        padding-top: 72px;
    }

    .footer__top-logo {
        width: 70%;
    }

    /* form-test */

    .form-resgister{
        width: 300px;
        height: auto;
        padding: 20px 30px;
    }

}

